# Data Preprocessing

In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('/Users/ds/Desktop/Projects/ISM/Data/counties_per_capita_income.csv')

In [3]:
data.head()

,county,states,pci,household_income,family_income,population,num_of_households
0,New York County,New York,"$76,592","$69,659","$86,553","1,628,706","759,460"
1,Arlington,Virginia,"$62,018","$103,208","$139,244","214,861","94,454"
2,Falls Church City,Virginia,"$59,088","$120,000","$152,857","12,731","5,020"
3,Marin,California,"$56,791","$90,839","$117,357","254,643","102,912"
4,Santa Clara,California,"$56,248","$124,055","$124,055","1,927,852","640,215"

In [3]:
data.head()

,county,states,pci,household_income,family_income,population,num_of_households
0,New York County,New York,"$76,592","$69,659","$86,553","1,628,706","759,460"
1,Arlington,Virginia,"$62,018","$103,208","$139,244","214,861","94,454"
2,Falls Church City,Virginia,"$59,088","$120,000","$152,857","12,731","5,020"
3,Marin,California,"$56,791","$90,839","$117,357","254,643","102,912"
4,Santa Clara,California,"$56,248","$124,055","$124,055","1,927,852","640,215"

In [4]:
data.shape

(3231, 7)

In [5]:
new_data=data.drop_duplicates()

In [6]:
new_data.shape

(3231, 7)

In [7]:
new_data.dtypes

county               object
states               object
pci                  object
household_income     object
family_income        object
population           object
num_of_households    object
dtype: object

## Remove heading and tailing spaces

In [12]:
new_data_2 = new_data.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [13]:
new_data_2.head()

,county,states,pci,household_income,family_income,population,num_of_households
0,New York County,New York,"$76,592","$69,659","$86,553","1,628,706","759,460"
1,Arlington,Virginia,"$62,018","$103,208","$139,244","214,861","94,454"
2,Falls Church City,Virginia,"$59,088","$120,000","$152,857","12,731","5,020"
3,Marin,California,"$56,791","$90,839","$117,357","254,643","102,912"
4,Santa Clara,California,"$56,248","$124,055","$124,055","1,927,852","640,215"

In [14]:
new_data_2.dtypes

county               object
states               object
pci                  object
household_income     object
family_income        object
population           object
num_of_households    object
dtype: object

In [15]:
new_data_2.to_csv('/Users/ds/Desktop/Projects/ISM/Clean_data/percapita_income_clean.csv')